<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href= "../../css/style.css">

</head>
<body>
    <table>
        <tr>
            <th>user_id</th>
            <th>user_name</th>
            <th>email</th>
            <th>password</th>
            </tr>
        
        <tr>
            <td><%= user.user_id %></td>
          <td><%= user.user_name %></td>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
          <td>
          </td>
        </tr>
</table>
<a href="http://localhost:5500/users/">Back</a>

</body>
</html>