<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <h1>CREATE Categories</h1>
    <form method="post" action="/categorie/create">

        <label for="categories_id">Categories ID:</label>
        <input type="text" id="categories_id" name="categories_id" >

        <label for="categories_name">Categories NAME:</label>
        <input type="text" id="categories_name" name="categories_name" >

        <input type="submit" value="Create">
    </form>
</body>
</html>
